.main-container {

    height: 900px;
    border-radius: 10px;
}

.content-container {

    background: linear-gradient(45deg, rgba(37,17,48,1) 55%, rgba(73,22,49,1) 100%);

    border-radius: 10px;
    border: #251130 1px solid;
    
}

.chart-full-container {

    background-color: #0a111d;
    border-radius: 10px;
    border: #121e31 1px solid;

}

.chart-container {

    flex: 1;
    border-radius: 10px;
    min-width: 0px;
    border: #172230 1px solid;
}

.processing-element {
    align-self: center;
    margin: auto;
    font-size: 20px;
    color: grey;
}

.mat-spinner circle {
    stroke: aqua;
}

.currency-id-container{
    height: 100px;
    min-width: 500px;
}

.name {

    color: #C5C6C7;
    font-size: 2em;
    
}

.label {
    color: #C5C6C7;
    font-weight: bold;
}

.value {
    color: grey;
}

p {
    white-space: nowrap;
}

.id {
    color: #858585;
    font-size: 1.2em;
}

.space-fill {
    flex: 1;
}

.header-container-content {
    display: flex;
    align-items: center;
}

ul li {
    padding-right: 20px;
    padding-left: 20px;
}

.date-picker-container {

    display: flex;
    flex-direction: column;
    width: 80%;
    flex: 1;
    justify-content: space-around;
    margin: 1em 1em ;
    margin-bottom: 3em;

    background: #111c30;
    border-radius: 10px;
    padding: 0.4em;
}

.date-picker-container button {
    font-size: 0.7em;
    margin: 0 2em;
}

.chart-filter {

    width: 200px;
    font-size: 20px;
}

.chart-filter p {
    
    color: #C5C6C7;
    display: grid;
    font-size: 2em;
    white-space: normal;
    text-align: center;
    margin: 1em 0;

} 

::ng-deep mat-form-field {
    font-size: 0.8em!important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(210, 207, 211)  !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(210, 207, 211) !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(210, 207, 211) !important;;
   }
   
   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: rgb(210, 207, 211)  !important;
   }

   input {
    color: rgb(210, 207, 211)  !important
   }
   
   
   mat-datepicker-toggle {
    color: rgb(210, 207, 211) !important;
   }

@media (max-width:1100px) {
   
    .header-container-content {
        display: block;
        align-items: none;
    }

    .name {
        font-size: 1.5em;
    }

    .id {
        font-size: 0.9em;
    }

    .currency-id-container{
        height: 80px;
    }

    ul {
        margin-top: 10px;
    }

    ul li {
        padding-right: 28px;
        padding-left: 0px;
    }
}

@media (max-width: 700px) {
    .chart-filter {
        width: 120px;
        font-size: 10px;
    }

    .date-picker-container {

        margin: 0 1em ;
        margin-bottom: 10em;
        
    }
    
    .date-picker-container button {
        font-size: 0.9em;
        margin: 0 1.5em;
    }

    .chart-filter p {
    
        margin: 5em 0;
    
    }

    ::ng-deep mat-form-field {
        font-size: 1em!important;
    }
}

