.currency-table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;

    
}

.currency-table td {
    color: #C5C6C7;
    background-color: #1F2833;
}

.mat-header-cell {
    color: #C5C6C7;
    background-color: #1F2833;
}

img {
    height: 20px;
}

table {
    opacity: 0.95;
    border-style: solid;
    border-color:#45A29E;
    border-width: 1px;

}

td, th {
    vertical-align: middle !important;
}



.column-id-width {
    width: 50px;
}