<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 currency-table" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- RANK -->
    <ng-container matColumnDef="rank">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="column-id-width"> # </th>
        <td mat-cell *matCellDef="let element" class="column-id-width"> {{element.rank}} </td>
      </ng-container>

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
          <app-coin-name [name] = "element.name"
                         [shortName] = "element.id"
                         [imageUrl] = "element.logo_url"></app-coin-name>
      </td>
    </ng-container>

    <!-- PRICE -->
    <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element">{{element.price | currency:'USD'}}</td>
    </ng-container>

    <!-- 1D Change -->

    <ng-container matColumnDef="rank_delta">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Change </th>
      <td mat-cell *matCellDef="let element">
        <app-coin-price-percent-change [percentValue]="element.rank_delta">
          
        </app-coin-price-percent-change>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>