<ul class="nav-header">
    <li class="logo d-flex flex-column justify-content-center px-3">
        <div class="logo-up">Crypto</div>
        <div class="logo-down pl-4">Tracker</div>
    </li>
    <div class="d-flex justify-content-center w-100">
        <div class="free-space-left"></div>
        <!-- Currency Table -->
        <li class="nav-element" routerLink="/currency-table">
            <p>Currency</p>
             <p>Table</p>
        </li>
        <!-- New Currencies -->
        <li class="nav-element" routerLink="/currency-table">
            <p>New</p>
            <p>Currencies</p>
        </li>
        <!-- Dead Currencies -->
        <li class="nav-element" routerLink="/currency-table">
            <p>Recently Dead</p>
            <p>Currencies</p>
        </li>
        <!-- Top Currencies -->
        <li class="nav-element" routerLink="/currency-table">
            <p>Top</p>
            <p>Currencies</p>
        </li>
        <div class="free-space-right"></div>    
    </div>   
</ul>