@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

.logo {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 25px;
    background-color: #1f2830;
    text-shadow: -2px 2px 8px rgba(206,13,173,0.8);
}

.logo-up {
    color: #66FCF1;
}

.logo-down {
    
    color: #45A29E;
}




.nav-header {
    width: 100%;
    display: flex;
    height: 80px;
    border-bottom: 1px solid #45A29E;
}

.nav-element {
    color: #66FCF1;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: background-color 1s;

}

.nav-element:hover {
    background-color: #45A29E;
    color: azure;
}

.nav-element:focus {
    border: none;
}

.nav-element > p {
    transition: transform .4s;
}

.nav-element:focus > p {
    transform: translate(0px, -5px);
}

.free-space-left {
    flex-grow: 10;
    background: linear-gradient(90deg, rgba(31,40,48,1) 0%, rgba(93,138,159,0) 100%);

}

.free-space-right {
    flex-grow: 10;
    background: linear-gradient(270deg, rgba(31,40,48,1) 0%, rgba(93,138,159,0) 100%);

}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

.nav-element:focus{
    outline: none;
    
}

@media (max-width: 768px) {

    .logo {
        font-family: 'Orbitron', sans-serif;
        font-weight: 900;
        color: seashell;
        font-size: 18px;
    }
    
    .nav-header {
        display: flex;
        height: 60px;

    }
    
    .nav-element {
        font-family: 'Ropa Sans', sans-serif;
        font-size: 13px;
        padding: 2px 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}